@layer components {
  .form-label {
    @apply mb-1 text-lg;
  }

  .form-input {
    @apply mb-2 block w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .form-select {
    @apply mb-2 block w-full rounded-md border border-gray-300 px-3 py-2 capitalize disabled:opacity-50;
  }
}

#modal button,
#modal a,
.details button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}
